---
layout: default
title: Home
---

<style>

.intro {
margin:auto;
border:1px solid grey;
}

</style>

<div class="post">

<h3 id="hello-my-name-is-ariane-beaudin-and-ravirer-is-my-digital-garden">Hello, my name is Ariane Beaudin. 
<br>I'm a non-binary artist, intellectual and activist. 
<br>
<br> Welcome to Ravirer, my digital garden.</h3>

<br>
<p>But what is a digital garden? <a href="https://joelhooks.com/digital-garden" title="Joel Hooks">Joel Hooks</a> describes it as</p>
<blockquote>
<p>a metaphor for thinking about writing and creating that focuses less on the resulting “showpiece” and more on the process, care, and craft it takes to get there.</p>
</blockquote>
<p>You’ll find below a more detailed list of topics as my digital garden grows.</p>
<p>If you want to know more about me or what I’m doing, you can jump to the <a href="https://ravirer.com/about">/about page</a> or the <a href="http://www.ravirer.com/now">/now page</a>. I also write <a href="https://ravirer.com/poetry">poetry</a>.</p>
</div>
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
